.item-result {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.plus-minus span {
  margin: 0 10px;
  padding: 0px 15px;
  border-radius: 8px;

  background-color: red;
  color: white;
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row:last-child {
  font-weight: bold;
}
